body{
    font-family: 'Questrial', sans-serif;
    background-color: lightgray;
}

.header{
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    font-size: 30px;
    padding: 10px;
    margin-top: 1%;
    background-color: #4B0082; 
    color: #FFFFFF;
}

.nav{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 20px;
    font-weight: bolder;
}

.nav a{
    text-decoration: none;
    color: #000000;
}

.nav a:hover{
    color: #4B0082;
}

.connect{
    color: #000000;
    text-decoration: none;
}

.connect img{
    max-width: 5%;
}

.connect a{
    text-decoration: none;
    color: #000000;
}

.archive{
    padding-top: 30px;
}

.archive a:hover{
    color: #4B0082;
}

.blog a{
    text-decoration: none;
    color: #000000;
}

.blog img{
    width: 60%;
}

.blog h2{
    font-family: 'Permanent Marker', cursive;
}

.postcontainer{
    display: flex;
}

.connect{
    flex: 1;
    padding-left: 35px;
}

.blog{
    flex: 2;
    margin-left: -8%;
}

.questioncontainer{
    display: flex;
    justify-content: space-between;
    background-color: #4B0082;
    padding-bottom: 20px;
}

.questioncontainer img{
   width: 100%;
}

.restaurantrecco{
    text-align: center;
    color:#ffffff;
}

.restaurantrecco h2{
    font-family: 'Permanent Marker', cursive;
}

.restaurantrecco img{
    max-height: 60%;
    max-width: 60%;
}

.restaurantrecco a{
    text-decoration: none;
    color: #ffffff;
}

.askabi{
    text-align: center;
    color:#ffffff;
}

.askabi h2{
    font-family: 'Permanent Marker', cursive;
}

.askabi a{
    text-decoration: none;
    color: #ffffff;
}

.recipedupe{
    text-align: center;
    color:#ffffff;
}
    
.recipedupe h2{
    font-family: 'Permanent Marker', cursive;
}

.recipedupe img{
    max-height: 60%;
    max-width: 60%;
}

.recipedupe a{
    text-decoration: none;
    color: #ffffff;
}

.newsletter{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}